LotteryMachine/LotteryMachine/Connected Services/MemberService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LotteryMachineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LotteryMachineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MemberData">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SexId" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberData" nillable="true" type="tns:MemberData" />
  <xs:complexType name="ArrayOfMemberData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberData" nillable="true" type="tns:MemberData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberData" nillable="true" type="tns:ArrayOfMemberData" />
</xs:schema>