LotteryMachine/LotteryMachine/Connected Services/MemberService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LotteryMachineService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LotteryMachineService" />
  <xs:element name="AddMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LotteryMachineService" minOccurs="0" name="member" nillable="true" type="q1:MemberData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LotteryMachineService" minOccurs="0" name="GetAllMembersResult" nillable="true" type="q2:ArrayOfMemberData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LotteryMachineService" minOccurs="0" name="GetMemberByIdResult" nillable="true" type="q3:MemberData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LotteryMachineService" minOccurs="0" name="member" nillable="true" type="q4:MemberData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMemberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>