LotteryMachine/LotteryMachine/Connected Services/MemberService/MemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LotteryMachineService/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LotteryMachineService/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LotteryMachineService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LotteryMachineService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberService_AddMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="IMemberService_AddMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetAllMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMembers" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetAllMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetMemberById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberById" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetMemberById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_EditMember_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMember" />
  </wsdl:message>
  <wsdl:message name="IMemberService_EditMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_DeleteMember_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMember" />
  </wsdl:message>
  <wsdl:message name="IMemberService_DeleteMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberService">
    <wsdl:operation name="AddMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/AddMember" message="tns:IMemberService_AddMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/AddMemberResponse" message="tns:IMemberService_AddMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/GetAllMembers" message="tns:IMemberService_GetAllMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/GetAllMembersResponse" message="tns:IMemberService_GetAllMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/GetMemberById" message="tns:IMemberService_GetMemberById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/GetMemberByIdResponse" message="tns:IMemberService_GetMemberById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/EditMember" message="tns:IMemberService_EditMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/EditMemberResponse" message="tns:IMemberService_EditMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/DeleteMember" message="tns:IMemberService_DeleteMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/DeleteMemberResponse" message="tns:IMemberService_DeleteMember_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberService" type="tns:IMemberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/IMemberService/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMembers">
      <soap:operation soapAction="http://tempuri.org/IMemberService/GetAllMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberById">
      <soap:operation soapAction="http://tempuri.org/IMemberService/GetMemberById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMember">
      <soap:operation soapAction="http://tempuri.org/IMemberService/EditMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMember">
      <soap:operation soapAction="http://tempuri.org/IMemberService/DeleteMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="BasicHttpBinding_IMemberService" binding="tns:BasicHttpBinding_IMemberService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LotteryMachineService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>